body{
    background-color: rgb(22, 22, 26);
    background-image:url(numberates.jpg) ;background-repeat: no-repeat;background-size: cover;
    margin-top: 10%;
}
#container{
    background-color: rgb(63, 84, 77);
    border:5px solid rgb(243, 211, 151);
    height:275px;
    width: 750px;
    margin:auto;
    text-align: center;
    background-image: url(numberates1.jpg);

}
p{
    color: aliceblue;
    font-size:24px;

}
#userInput{
    width:100px;
    margin:25px auto;
}
#btn{
    margin:25px auto auto 5px;
}